/* line 13, ../scss/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../scss/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../scss/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../scss/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../scss/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, ../scss/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../scss/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------ End reset code ----------------------------*/
/* ------------------ Begin General Styles ----------------------------*/
/* line 51, ../scss/partials/_reset.scss */
body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

/* line 55, ../scss/partials/_reset.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 59, ../scss/partials/_reset.scss */
img {
  width: 100%;
}

/* line 63, ../scss/partials/_reset.scss */
div {
  box-sizing: border-box;
}

/* line 1, ../scss/partials/_grid.scss */
.allwrap {
  height: 100vh;
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2px;
  grid-template-areas: "header" "main" "aside" "x" "artists-and" "soon" "footer";
}

/* line 18, ../scss/partials/_grid.scss */
header {
  grid-area: header;
}

/* line 21, ../scss/partials/_grid.scss */
main {
  grid-area: main;
}

/* line 25, ../scss/partials/_grid.scss */
aside {
  grid-area: aside;
}

/* line 28, ../scss/partials/_grid.scss */
.x {
  grid-area: x;
  background: chartreuse;
}

/* line 33, ../scss/partials/_grid.scss */
.soon {
  grid-area: soon;
  background: lightgreen;
}

/* line 37, ../scss/partials/_grid.scss */
footer {
  grid-area: footer;
  background: black;
}

/* line 43, ../scss/partials/_grid.scss */
figure p {
  text-align: center;
}

/* line 46, ../scss/partials/_grid.scss */
.secondary-albums {
  display: flex;
}

/* line 49, ../scss/partials/_grid.scss */
aside div {
  width: 100%;
}

@media (min-width: 768px) {
  /* line 55, ../scss/partials/_grid.scss */
  .allwrap {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header header" "main aside" "x soon" "footer footer";
  }

  /* line 64, ../scss/partials/_grid.scss */
  main {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  /* line 68, ../scss/partials/_grid.scss */
  aside {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  /* line 72, ../scss/partials/_grid.scss */
  .x {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  /* line 76, ../scss/partials/_grid.scss */
  .soon {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  /* line 81, ../scss/partials/_grid.scss */
  .artists-and {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
  }

  /* line 89, ../scss/partials/_grid.scss */
  footer {
    grid-row-start: 6;
    grid-row-end: 7;
  }

  /* line 94, ../scss/partials/_grid.scss */
  .artists,
  .albums {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  /* line 100, ../scss/partials/_grid.scss */
  .allwrap {
    max-width: 1100px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header header header header header header" "main main main aside aside aside" "x x x x  soon soon" "artists artists  albums albums . ." "footer footer footer footer footer footer";
  }

  /* line 114, ../scss/partials/_grid.scss */
  main {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  /* line 118, ../scss/partials/_grid.scss */
  main .wide-flex {
    display: flex;
  }

  /* line 121, ../scss/partials/_grid.scss */
  .x, .soon {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  /* line 126, ../scss/partials/_grid.scss */
  aside {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  /* line 130, ../scss/partials/_grid.scss */
  .x {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  /* line 134, ../scss/partials/_grid.scss */
  .artists-and {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
    display: block;
  }

  /* line 142, ../scss/partials/_grid.scss */
  .artists,
  .albums {
    display: block;
    width: 100%;
  }

  /* line 147, ../scss/partials/_grid.scss */
  .soon {
    grid-column-start: 5;
    grid-column-end: 7;
  }

  /* line 151, ../scss/partials/_grid.scss */
  footer {
    grid-row-start: 6;
    grid-row-end: 7;
  }

  /* line 155, ../scss/partials/_grid.scss */
  .secondary-albums {
    display: inline-block;
    width: 41.375%;
  }
}
/* line 1, ../scss/partials/_layout.scss */
header {
  text-align: center;
}
/* line 5, ../scss/partials/_layout.scss */
header p,
header img {
  display: inline-block;
}
/* line 8, ../scss/partials/_layout.scss */
header img {
  width: 60px;
  position: relative;
}

/* line 13, ../scss/partials/_layout.scss */
header p {
  font-size: 2em;
  position: relative;
  bottom: 8px;
  z-index: 100;
  font-weight: 700;
  font-family: 'Dancing Script', cursive;
  padding-top: .5em;
}

/* line 22, ../scss/partials/_layout.scss */
header p:first-of-type {
  bottom: 10px;
  left: 6px;
}

/* line 27, ../scss/partials/_layout.scss */
header p:last-of-type {
  bottom: 10px;
  right: 4px;
}

/* line 32, ../scss/partials/_layout.scss */
header .brand {
  background: #f4f4f4;
}

/* line 36, ../scss/partials/_layout.scss */
header div:last-of-type img {
  width: 40px;
  padding: .25em 0;
  position: relative;
  top: 2px;
}

/* line 42, ../scss/partials/_layout.scss */
.nav-holder {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* line 46, ../scss/partials/_layout.scss */
.wide-nav {
  display: none;
}

/* Type */
/* line 50, ../scss/partials/_layout.scss */
h2 {
  font-size: 1.125em;
  background: #f4f4f4;
  color: #000;
  padding: .25em;
}

/* Main */
/* line 59, ../scss/partials/_layout.scss */
main {
  padding-bottom: 1em;
}

/* line 62, ../scss/partials/_layout.scss */
main figure {
  padding: .25em;
}

/* line 66, ../scss/partials/_layout.scss */
main .title {
  font-size: 1em;
  padding: .125em 0;
}

/* line 71, ../scss/partials/_layout.scss */
main .band-name,
.soon .band-name {
  padding-bottom: .5em;
  font-size: .875em;
}

/* line 75, ../scss/partials/_layout.scss */
main .review {
  font-size: .75em;
  font-style: italic;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1em;
}

/* Aside */
/* line 83, ../scss/partials/_layout.scss */
aside {
  padding-bottom: 2em;
}

/* line 86, ../scss/partials/_layout.scss */
aside div {
  padding: .5em;
}

/* line 89, ../scss/partials/_layout.scss */
aside p {
  padding-bottom: .25em;
}

/* line 92, ../scss/partials/_layout.scss */
aside p:first-of-type {
  font-size: .875em;
}

/* line 95, ../scss/partials/_layout.scss */
aside p:nth-of-type(2) {
  font-size: .75em;
}

/* line 98, ../scss/partials/_layout.scss */
aside p:nth-of-type(3) {
  font-size: .675em;
}

/* line 102, ../scss/partials/_layout.scss */
aside div {
  display: flex;
}

/* line 105, ../scss/partials/_layout.scss */
aside img {
  width: 70%;
}

/* line 108, ../scss/partials/_layout.scss */
aside .textbox {
  display: block;
}

/* line 111, ../scss/partials/_layout.scss */
aside .top-news {
  display: block;
}

/* line 114, ../scss/partials/_layout.scss */
aside .top-news img {
  width: 100%;
}

/* line 117, ../scss/partials/_layout.scss */
aside .border-bottom {
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}

/* line 120, ../scss/partials/_layout.scss */
.hide-smallscreen {
  display: none;
}

/* Shop x*/
/* line 125, ../scss/partials/_layout.scss */
.x div {
  display: flex;
  flex-wrap: wrap;
  padding-top: .5em;
  cursor: pointer;
}

/* line 131, ../scss/partials/_layout.scss */
.x div img {
  box-sizing: border-box;
  width: 50%;
}

/* line 135, ../scss/partials/_layout.scss */
.x div img:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

/* Soon*/
/* line 140, ../scss/partials/_layout.scss */
.soon figure {
  padding: .25em;
}

/* line 146, ../scss/partials/_layout.scss */
.x,
.artists,
.albums {
  margin-bottom: 2em;
}

/* Footer*/
/* line 150, ../scss/partials/_layout.scss */
footer {
  color: #fff;
  padding: 2em 0 4em 0;
  margin-top: 2em;
}
/* line 155, ../scss/partials/_layout.scss */
footer .footer-contain {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* line 161, ../scss/partials/_layout.scss */
footer .footer-contain .contact {
  margin-top: 2em;
  margin-left: 1em;
}
/* line 165, ../scss/partials/_layout.scss */
footer .footer-contain .footer-nav {
  margin-left: 1em;
}

/* line 171, ../scss/partials/_layout.scss */
footer ul li {
  line-height: 1.55em;
  text-align: left;
}

/* line 176, ../scss/partials/_layout.scss */
footer a,
footer p {
  color: #fff;
}

/* line 179, ../scss/partials/_layout.scss */
footer .social {
  text-align: center;
}

/* line 182, ../scss/partials/_layout.scss */
footer .social ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  max-width: 100px;
  margin: 0 auto;
}
/* line 188, ../scss/partials/_layout.scss */
footer .social ul img {
  width: 40px;
}

@media (min-width: 568px) {
  /* line 194, ../scss/partials/_layout.scss */
  aside div {
    display: flex;
  }

  /* line 197, ../scss/partials/_layout.scss */
  aside img {
    width: 40%;
  }

  /* line 200, ../scss/partials/_layout.scss */
  aside .textbox {
    display: block;
  }

  /* line 203, ../scss/partials/_layout.scss */
  aside .top-news {
    display: block;
  }

  /* line 206, ../scss/partials/_layout.scss */
  aside .top-news img {
    width: 100%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  /* line 219, ../scss/partials/_layout.scss */
  main,
  aside,
  .x,
  .artists,
  .albums,
  .soon {
    width: 80%;
    margin: 0 auto;
  }

  /* line 223, ../scss/partials/_layout.scss */
  .footer-contain {
    max-width: 80%;
    margin: 0 auto;
  }

  /* line 228, ../scss/partials/_layout.scss */
  .footer-nav,
  .contact {
    margin-left: 0;
  }

  /* line 232, ../scss/partials/_layout.scss */
  .artists,
  .albums {
    margin-bottom: 2em;
  }
}
@media (min-width: 768px) {
  /* line 238, ../scss/partials/_layout.scss */
  footer {
    margin-top: 0;
  }

  /* line 239, ../scss/partials/_layout.scss */
  footer .footer-contain {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* line 242, ../scss/partials/_layout.scss */
  footer .footer-contain .social {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  /* line 246, ../scss/partials/_layout.scss */
  footer .footer-contain .contact {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 0;
  }

  /* line 252, ../scss/partials/_layout.scss */
  .mid-hide {
    display: none;
  }

  /* line 255, ../scss/partials/_layout.scss */
  aside div {
    padding: .75em;
  }
}
@media (min-width: 992px) {
  /* line 261, ../scss/partials/_layout.scss */
  div.top-news {
    display: none;
  }

  /* line 264, ../scss/partials/_layout.scss */
  .hide-wide {
    display: none;
  }

  /* line 267, ../scss/partials/_layout.scss */
  .hide-smallscreen {
    display: flex;
  }

  /* line 270, ../scss/partials/_layout.scss */
  .hide-widescreen {
    display: none;
  }

  /* line 273, ../scss/partials/_layout.scss */
  header div:last-of-type img {
    display: none;
  }

  /* line 277, ../scss/partials/_layout.scss */
  main,
  aside {
    padding-bottom: 1em;
  }

  /* line 280, ../scss/partials/_layout.scss */
  .footer-contain .social ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    max-width: 100%;
  }

  /* line 285, ../scss/partials/_layout.scss */
  .wide-nav {
    display: block;
  }

  /* line 288, ../scss/partials/_layout.scss */
  .wide-nav ul {
    padding-top: .5em;
  }

  /* line 291, ../scss/partials/_layout.scss */
  .wide-nav ul li {
    display: inline-block;
    padding: .5em  1em 1em 1em;
  }

  /* line 295, ../scss/partials/_layout.scss */
  header p {
    font-size: 2.5em;
  }

  /* line 298, ../scss/partials/_layout.scss */
  header img {
    width: 80px;
  }

  /* line 301, ../scss/partials/_layout.scss */
  .artists {
    margin-bottom: .5em;
  }

  /* line 304, ../scss/partials/_layout.scss */
  .albums {
    margin-bottom: 0;
  }

  /* line 307, ../scss/partials/_layout.scss */
  .mid-hide {
    display: block;
  }

  /* line 310, ../scss/partials/_layout.scss */
  aside div {
    padding: .5em;
  }
}
/* line 2, ../scss/partials/sections.scss */
.bottom-bar {
  height: 1em;
  width: 100%;
  background: #f4f4f4;
}

/* line 8, ../scss/partials/sections.scss */
.albums-images-holder,
.artists-images-holder {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/* line 15, ../scss/partials/sections.scss */
.albums-images-holder div,
.artists-images-holder div {
  display: flex;
}

/* line 19, ../scss/partials/sections.scss */
.albums-images-holder div img,
.artists-images-holder div img {
  padding: .125em;
}

/* line 23, ../scss/partials/sections.scss */
.albums-images-holder div img:hover,
.artists-images-holder div img:hover {
  opacity: .8;
}

/* line 27, ../scss/partials/sections.scss */
.x,
.soon {
  background: none;
}

/* line 31, ../scss/partials/sections.scss */
.x p,
.soon p {
  text-align: center;
  padding-top: .5em;
}

/* line 35, ../scss/partials/sections.scss */
.soon {
  text-align: center;
}
